<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Edit Course</h2>

    <form action="{{ url_for('edit_course', id=course._id) }}" method="POST">
        <div class="form-group">
            <label for="editTitle">Title:</label>
            <input type="text" class="form-control" id="editTitle" name="title" value="{{ course.title }}" required>
        </div>
        <div class="form-group">
            <label for="editTeacher">Teacher:</label>
            <input type="text" class="form-control" id="editTeacher" name="teacher" value="{{ course.teacher }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
